* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px 0;
    display: flex;
    
}
nav ul li{
    display: inline-block;
    text-decoration: none;
 
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
    
}
nav a{
    
    color: rgb(94, 90, 90);
}
nav a:hover{
    background-color: #000;
    color: #fff;
}


body {
    background: linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(../imagenes/body5.jpg);
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.quienessomos {
    background-color: rgba(62, 112, 204, 0.384);
    color: white;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20PX;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgb(12, 11, 11);
}
section h2 {
   
    background-color: rgb(112, 165, 219);
    color: white;
    text-align: center;
}
footer{
    
    
        text-align: center;
        padding: 25px 0;
        
    
}
footer div nav ul li a{
    
color: white;
    text-align: center;
    padding: 25px 0;
    

}